@import url("components/setup.css");
@import url("components/header.css");
@import url("components/main.css");
@import url("components/specific.css");

@font-face {
  font-family: "Cafe24SsurroundAir";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ELAND_Nice_M";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/ELAND_Nice_M.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  width: 100vw;
  font-family: "Cafe24SsurroundAir", "ELAND_Nice_M", sans-serif;
  overflow-y: hidden;
}

.main-work {
  width: 100vw;
  height: 50rem;
  padding: 3rem 6rem;
}

.main-header {
  display: flex;
  width: 100%;
  height: 16rem;
}

.main-header__box {
  padding-left: 2.6rem;
  width: 33.333%;
  height: 100%;
  flex-shrink: 1;
  transition: all 0.2s ease;
  cursor: pointer;
  background: linear-gradient(
    180deg,
    rgb(241, 255, 229) 60% 60%,
    rgb(255, 248, 236) 40% 40%
  );
  border-radius: 10px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.082), 0px 0px 5px rgba(0, 0, 0, 0.055);
}

.main-header__box:hover {
  transition: all 0.2s ease;
  width: 37%;
}

.main-header__box:nth-child(1) {
  margin-right: 1rem;
}

.main-header__box:nth-child(2) {
  margin-right: 1rem;
}

.main-header__top {
  width: 100%;
  height: 60%;
  display: flex;
  align-items: flex-end;
  transition: all 0.4s ease;
}

.main-header__bottom {
  padding-top: 1rem;
  width: 100%;
  height: 40%;
  transition: all 0.4s ease;
}

.yumi-title {
  font-size: 2.7rem;
  font-weight: bold;
  margin-right: 2rem;
}

.main-header__box:hover .main-header__top {
  transform: scale(1.02);
  transition: all 0.4s ease;
}

.main-header__box:hover .main-header__bottom {
  transform: scale(1.02);
  transition: all 0.4s ease;
}

.yumi-tag {
  font-size: 1rem;
  color: grey;
}

.yumi-image {
  width: 12rem;
  height: 12rem;
  object-fit: contain;
}
