@import url("components/setup.css");
@import url("components//js-page.css");
@import url("components/index-header.css");
@import url("components/index-intro.css");
@import url("components/work-header.css");
@import url("components/work-article.css");
@import url("components/animation-header.css");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css");
@font-face {
  font-family: "Cafe24SsurroundAir";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ELAND_Nice_M";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/ELAND_Nice_M.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  width: 100vw;
  font-family: "Cafe24SsurroundAir", "ELAND_Nice_M", "Spoqa Han Sans",
    "Spoqa Han Sans JP", "Spoqa Han Sans Neo", "sans-serif";
}
