*,
html,
body {
  margin: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  width: 100vw;
}

.basic {
  padding-top: 7rem;
  width: 80rem;
  height: 42rem;
  background-color: antiquewhite;
  flex-wrap: nowrap;
  transition: all 0.2s ease-in-out;
  flex-direction: column;
}

.inner {
  width: 70rem;
  height: 20rem;
  margin-bottom: 1rem;
}

.box {
  margin: 0.5rem;
  width: 23rem;
  height: 20rem;
  flex-shrink: 2;
  background-color: cornflowerblue;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
  will-change: auto;
}

.box:hover {
  background-color: rgb(0, 255, 255);
  width: 24rem;
  height: 21rem;
  transition: all 0.2s ease-in-out;
}
