.main-header__box--ani {
  position: relative;
  width: 50%;
  height: 100%;
  flex-shrink: 1;
  transition: all 0.2s ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  position: relative;
  overflow: hidden;
  font-family: "ELAND_Nice_M";
  font-weight: 100;
  letter-spacing: 0.1rem;
}

.main-header__box--ani:hover {
  transition: all 0.2s ease;
  width: 51%;
}

.main-header__box--ani:nth-child(1) {
  border-right: 2px solid black;
}

/* 이미지 삽입  */

.yumi-01-image--ani {
  width: 70rem;
  height: 40rem;
  position: absolute;
  z-index: 1;
  opacity: 0.4;
  top: -50px;
  object-fit: contain;
}

.iframe--ani {
  width: 50rem;
  height: 30rem;
}

/* 미디어 쿼리 */

@media screen and (max-width: 1300px) {
  .main-header__box--ani {
    width: 100.3%;
    height: 50%;
  }

  .main-header__box--ani:nth-child(1) {
    border-right: none;
    border-bottom: 2px solid black;
  }

  .main-header__box--ani:hover {
    transition: all 0.2s ease;
    width: 100.3%;
    height: 51%;
  }

  .yumi-01-image--ani {
    width: 80rem;
    height: 42rem;
  }

  .iframe--ani {
    width: 30rem;
    height: 30rem;
  }
}
