.header {
  width: 100vw;
  height: 10rem;
  display: flex;
  padding-left: 6rem;
  justify-content: flex-start;
}

.header__inner {
  padding-top: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
}

.header__inner > div {
  margin-right: 3rem;
  font-size: 1.5rem;
  height: 2rem;
  transition: 0.02s ease;
}

.header__inner > a {
  margin-right: 4rem;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  font-weight: 600;
  font-size: 2rem;
  color: white;
  height: 7rem;
  width: 9rem;
  background-color: black;
}

.header__inner > div:focus-within {
  font-weight: 600;
  border-bottom: 3px solid black;
}

.header__inner > div:focus {
  font-weight: 600;
  border-bottom: 3px solid black;
}

.header__inner > div:hover {
  font-weight: 600;
  transition: 0.04s ease;
}

@media screen and (max-width: 1200px) {
  .header__inner > div {
    font-size: 1rem;
  }
}

@media screen and (max-width: 900px) {
  .header {
    height: 20rem;
    padding-left: 4rem;
  }

  .header__inner {
    flex-direction: column;
    align-items: center;
  }

  .header__inner > a {
    height: 9rem;
    width: 9rem;
  }

  .header__inner > div {
    margin-top: 1.2rem;
    margin-right: 4rem;
  }
}
