.header {
  width: 100vw;
  height: 10rem;
  display: flex;
  padding-left: 6rem;
  justify-content: center;
}

.header__inner {
  padding-top: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 96rem;
  height: 100%;
}

.header__inner > div {
  margin-right: 3rem;
  font-size: 2rem;
  height: 2rem;
  transition: 0.02s ease;
  font-family: "ELAND_Nice_M";
  font-weight: 100;
  letter-spacing: 0.1rem;
}

.header__inner > a {
  margin-right: 4rem;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  font-weight: 600;
  font-size: 2rem;
  color: white;
  height: 7rem;
  width: 9rem;
  background-color: black;
  font-family: "Abril Fatface";
  border-radius: 10px;
}

.header__inner > div:hover {
  transform: scale(1.01);
  transition: 0.04s ease;
  text-decoration: underline;
  text-underline-position: under;
}

.underline {
  text-decoration: underline;
  text-underline-position: under;
}

@media screen and (max-width: 1300px) {
  .header {
    height: 24rem;
    padding-left: 4rem;
  }

  .header__inner {
    flex-direction: column;
    align-items: center;
  }

  .header__inner > a {
    height: 9rem;
    width: 9rem;
  }

  .header__inner > div {
    margin-top: 1.2rem;
    margin-right: 4rem;
  }
}
