.main {
  width: 100vw;
  height: fit-content;
  padding: 4rem 6rem;
  display: flex;
  justify-content: center;
}

.main__inner {
  padding: 1.4rem;
  border: 2px solid black;
  width: 90rem;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.main__intro {
  padding-top: 1rem;
  padding-left: 1rem;
  font-size: 1.2rem;
  line-height: 1.8rem;
  text-underline-position: under;
}

.bold {
  font-family: "ELAND_Nice_M";
  letter-spacing: 0.1rem;
  padding-bottom: 0.2rem;
  font-size: 2.5rem;
  line-height: 3rem;
}

.bold2 {
  font-family: "ELAND_Nice_M";
  letter-spacing: 0.1rem;
  padding-bottom: 0.2rem;
  font-size: 1.7rem;
}

@media screen and (max-width: 1300px) {
  .main {
    width: 100vw;
    height: 48rem;
    padding: 2rem 3rem;
  }

  .main__inner {
    height: 42rem;
  }

  .main__intro {
    font-size: 1rem;
  }
}
