.js-page-one {
  position: relative;
  z-index: 1;
  opacity: 1;
}

.js-page-two {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.js-page-three {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.js-page-four {
  position: relative;
  z-index: 1;
  opacity: 1;
}

.js-page-five {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
