.main {
  width: 100vw;
  height: 39rem;
  padding: 3rem 6rem;
}

.main__inner {
  padding: 1.4rem;
  border: 2px solid black;
  width: 100%;
  height: 30rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.main__intro {
  padding-top: 1rem;
  padding-left: 1rem;
  font-size: 1.2rem;
  line-height: 1.8rem;
  text-underline-position: under;
}

.bold {
  font-family: "ELAND_Nice_M";
  letter-spacing: 0.1rem;
  font-weight: bold;
  font-size: 2rem;
}
