.main-header__box--novel {
  position: relative;
  width: 100%;
  height: 100%;
  flex-shrink: 1;
  transition: all 0.2s ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  position: relative;
  overflow: hidden;
  font-family: "ELAND_Nice_M";
  font-weight: 100;
  letter-spacing: 0.1rem;
}

.title--novel {
  width: 21rem;
  font-size: 3rem;
  display: flex;
  justify-self: center;
  position: relative;
  z-index: 2;
}

.sub-title--novel {
  width: 21rem;
  margin-top: 1rem;
  line-height: 1.5rem;
  font-size: 1rem;
  font-family: "Cafe24SsurroundAir";
  color: grey;
  position: relative;
  z-index: 2;
}

@media screen and (max-width: 1300px) {
}
