.main--arti {
  width: 100vw;
  height: fit-content;
  padding: 0rem 6rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}

.main__inner--arti {
  padding: 1.4rem;
  border: 2px solid black;
  width: 90rem;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.main__intro--arti {
  font-family: "Spoqa Han Sans Neo";
  padding-top: 1rem;
  padding-left: 1rem;
  font-size: 1rem;
  line-height: 2rem;
  text-underline-position: under;
}

.yumi-episode {
  width: 90%;
  background-color: white;
}

.iframe {
  width: 98%;
  height: 30rem;
}

@media screen and (max-width: 1300px) {
  .main--arti {
    width: 100vw;
    height: fit-content;
    padding: 2rem 1rem;
  }

  .main__inner--arti {
    width: 100%;
    height: fit-content;
  }

  .main__intro--arti {
    font-size: 1rem;
  }
}
